/* General styles for all elements */
#logo {
    background-color: transparent;
    margin-right: 50px;
    width: 50px;
    height: 50px;
}

#logo img {
    height: 125px;
}

/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-left: 50px;
    background-image: url(../Assets/nav3.jpg);
     margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 1px;

}

.logoIcon {
    border-radius: 50%;
    border: 0.5px solid black;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(14, 169, 9, 0.2);
    border-radius: 10px;
}

.navbar a {
    display: block;
    color: rgba(243, 245, 243, 0.8); /* Adjust text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease; /* Smooth transition for all effects */
}

.navbar a:hover {
    color: #8ebe70;
}

.navbar a.active {
    background-color: rgba(51, 185, 39, 0.5);
    color: #ffffff;
}

.navbar li img {
    height: 80px;
    width: auto;
    transition: transform 0.3s ease; /* Smooth transition for logo enlarge effect */
}

.navbar li img:hover {
    transform: scale(1.1); /* Enlarge the logo on hover */
}

.navbar li {
    float: left;
    margin: 0 20px;
}

.navbar h2 {
    color: #063218;
    background-color: rgba(157, 181, 159, 0.5);
    border-radius: 10px;
}

body {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url('../Assets/background.jpg');
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: monospace, 'Public Sans';
    text-align: center;
    color: #67e182;
    font-size: 250px;
    padding-bottom: 13%;
}
/* Styles for the rectangles representing sitemap nodes */
.node-rect {
    stroke: #15161a;
    stroke-width: 5px;
    fill: #17ffd1;
}

/* Styles for the sitemap nodes when hovered */

.sitemap-node {
    cursor: pointer;
}

.sitemap-node:hover .node-rect {
    stroke: #0f0551;
    fill: #333333;
}

.sitemap-node:hover .node-text {
    fill: #e7e7e7;
}
/* Styles for the SVG container */
svg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding-left: 20px;
    height: 80vh;
    width: 100%;
    padding-top: 5%;
    margin-bottom: -5px;
}

/* Styles for the text inside the nodes */
.node-text {
    fill: #000000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/* Styles for the lines connecting the nodes */
.sitemap-line {
    stroke: #5c5757;
    stroke-width: 4px;
}

   /* Footer Style*/
   .footer-style {
    text-align: center;
    background-image: url("../Assets/nav3.jpg");
    padding: 5px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .footerlogo {
      
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
  }

  .footer-link {
    color: white;
    text-decoration: none;
  }

  .footer-link:visited {
    color: white;
  }

  .footer-link:hover {
    animation: sparkEffect 1s infinite;
  }

  @keyframes sparkEffect {
    0%, 100% {
        text-shadow: 0 0 5px #afdc93, 0 0 10px #fff, 0 0 15px #51c851, 0 0 20px #ffffff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
    }
    50% {
        text-shadow: 0 0 10px #a0da7d, 0 0 20px #fff, 0 0 30px #51c851, 0 0 40px #ffffff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
    }
  }