body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(../Images/background13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    box-shadow: 0 0 10px rgba(24, 23, 23, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-left: 20px;

}



.team-heading {
    text-align: center;
    color: #000000;
}



main {
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
    
    box-shadow: 0 0 10px rgba(24, 23, 23, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-left: 20px;
}

#why-wellness {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-left: 20px;
}

#why-wellness h2 {
    color: #000000;
}

#why-wellness p {
    line-height: 1.8;
    color: #333;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-left: 20px;
}

section h2 {
    color: #000000;
}

section p {
    line-height: 1.6;
}

.topic-content {
    display: flex;
    align-items: center;
}

.topic-content div {
    flex: 1;
}

.topic-image {
    width: 250px;
    height: 250px; /* Ensure the height is equal to the width for a circle */
    margin-left: 30px;
    border-radius: 50%; /* Make the border circular */
    overflow: hidden; /* Ensure the image doesn't overflow the circle */
    transition: transform 0.5s ease; /* Smooth zoom transition */
}

.topic-image:hover {
    transform: scale(1.1) rotate(20deg); /* Zoom and rotate the element */
    }
    
 
/* Footer Style*/
.footer-style {
    text-align: center;
    background-image: url("../Images/nav3.jpg");
    padding: 5px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:visited {
    color: white;
}

.footer-link:hover {
    animation: sparkEffect 1s infinite;
}
.copyright{
    color: #ffffff;
}

@keyframes sparkEffect {
    0%, 100% {
        text-shadow: 0 0 5px #afdc93, 0 0 10px #fff, 0 0 15px #51c851, 0 0 20px #ffffff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
    }
    50% {
        text-shadow: 0 0 10px #a0da7d, 0 0 20px #fff, 0 0 30px #51c851, 0 0 40px #ffffff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;

}
}